@page
@model GVC.Web.Pages.Usuarios.CreateModel
@{ViewData["Title"]="Novo usuário";}
<h1>
    Novo usuário
</h1>
<form method="post" class="card">
    <div class="card-body row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="col-md-8">
            <label asp-for="Usuario.NomeCompleto" class="form-label">
            </label>
            <input asp-for="Usuario.NomeCompleto" class="form-control">
        </div>
        <div class="col-md-4">
            <label asp-for="Usuario.TipoUsuario" class="form-label">
            </label>
            <select asp-for="Usuario.TipoUsuario" class="form-select">
                <option>
                    Administrador
                </option>
                <option>
                    Operador
                </option>
                <option>
                    Caixa
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="Usuario.Cpf" class="form-label">
            </label>
            <input asp-for="Usuario.Cpf" class="form-control">
        </div>
        <div class="col-md-4">
            <label asp-for="Usuario.DataNascimento" class="form-label">
            </label>
            <input asp-for="Usuario.DataNascimento" type="date" class="form-control">
        </div>
        <div class="col-md-4">
            <label asp-for="Usuario.NomeUsuario" class="form-label">
            </label>
            <input asp-for="Usuario.NomeUsuario" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="Usuario.Email" class="form-label">
            </label>
            <input asp-for="Usuario.Email" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="Senha" class="form-label">
            </label>
            <input asp-for="Senha" type="password" class="form-control">
        </div>
    </div>
    <div class="card-footer text-end">
        <a asp-page="Index" class="btn btn-light">
            Cancelar
        </a>
        <button class="btn btn-primary">
            Salvar
        </button>
    </div>
</form>
